<!DOCTYPE html>
<html lang="en">
<head>
<title>Click That Button!</title>
<meta charset=utf-8 />
</head>
<body>
<h1>Reverse</h1>
<h2><%= @title %></h2>

<%= yield %>

<p>This might eventually be ClickThatButton</p>
</body>
</html>